<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    {% if site.enforce_ssl %}
    <script type="text/javascript">
      var enforce = "{{ site.enforce_ssl }}";
      if ((enforce == window.location.host) 
          && (window.location.protocol != "https:"))
            window.location =
            window.location.toString().replace(/^http:/,"https:");
    </script>
    {% endif %}
    
    <meta name="description" content="JavaScript, AngularJS and HTML5 engineer helping build a better web.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>

    <div class="sidebar clear">
      <div class="sidebar__profile">
        <a href="{{ site.url }}/">
          <img src="/assets/img/andreas.jpg" alt="Andreas Buttenschoen" class="sidebar__profile-img">
        </a>
        <h1 class="sidebar__profile-name">
         Andreas Buttenschoen
        </h1>
        <div class="sidebar__profile-bio clear">
          <p>
            PhD Student at <a href="http://ualberta.ca">University of Alberta</a><br>
            Mathematical Biology
          </p>
        </div>
        <div class="sidebar__profile-social">
          <a href="https://twitter.com/adrs0061" class="twitter-follow-button" data-show-count="true">
            Follow @adrs0061
          </a>
        </div>
        <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="{{ site.url }}/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="{{ site.url }}/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="{{ site.url }}/feed.xml">
                RSS
              </a>
            </li><!--
            --><li>
              <a href="https://github.com/adrs0049">
                GitHub
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
