<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="JavaScript, AngularJS and HTML5 engineer helping build a better web.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/+WyattJoh" rel="author">
    <link href="{{ site.data.manifest['css/style.min.css'] }}" rel="stylesheet">
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>

    <div class="sidebar clear">
      <div class="sidebar__profile">
        <a href="{{ site.url }}/">
          <img src="{{ site.data.manifest['img/wyatt.jpg'] }}" alt="Wyatt Johnson" class="sidebar__profile-img">
        </a>
        <h1 class="sidebar__profile-name">
          Wyatt Johnson
        </h1>
        <div class="sidebar__profile-bio clear">
          <p>
            Developer at <a href="https://trumpet.ca/">Trumpet.ca</a><br>
            Astrophysics/CompSci Graduate<br>
            Programming Wizard
          </p>
        </div>
        <div class="sidebar__profile-social">
          <a href="https://twitter.com/wyattjoh" class="twitter-follow-button" data-show-count="true">
            Follow @wyattjoh
          </a>
        </div>
        <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="{{ site.url }}/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="{{ site.url }}/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="{{ site.url }}/feed.xml">
                RSS
              </a>
            </li><!--
            --><li>
              <a href="https://github.com/wyattjoh">
                GitHub
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
